@tailwind base;
@tailwind components;
@tailwind utilities;

/* My Own Tailwind Utilities */
@layer utilities {
}

/* Global element styles */
body {
    padding-top: 5rem;
}

h1, h2, h3 {
    @apply font-bold uppercase
}

h1 {
    font-size: 1.9em;
}

h2 {
    font-size: 1.3em;
}